<html>
    {include file="shareHeader.htm"}

    <frameset frameborder=1 frameSpacing=1 rows=80,* frameBorder=1 cols="">
        <frame name=topFrame src="head.php" noResize scrolling=no >
        <frameset id="idvirtframeset" border=1 frameSpacing=0 frameBorder=yes cols=300,*>
            <frame id=f1 name=window_menu marginWidth=0 marginHeight=5 src="menu.php" frameborder=1>
            <frame id=f2 marginWidth=0 marginHeight=5 name=window_atllst src="atllst.php">
            <!--<frameset border=1 frameSpacing=0 frameBorder=yes rows=400,*>
                <frame id=f2 marginWidth=0 marginHeight=5 name=window_atllst src="atllst.php">
                <frame id=f2 name=window_article src="article.php" scrolling=yes>
            </frameset>-->
        </frameset>
    </frameset>

</html>
