<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="./img/style.css" type="text/css" rel="stylesheet">
    </head>

    <body>
        <h1>你当前的RSS为:</h1>
        <ul>
            {foreach $rsses as $rss}
                <li>
                    <a target="_blank" href="/atllst.php?rssid={$rss.id}">{$rss.name}</a>
                    <label>{$rss.feedurl}</label>
                </li>
            {/foreach}
        </ul>
    </body>
</html>
